<h2 style="padding-left:15px">Alta</h2>
<!--Alta-->
<div class="container" style="padding-top:15px">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="info">
                <th>Codigo Postal</th>
                <th>calle</th>
                <th>Num ext</th>
                <th>Num int</th>
                <th>entre calle A y calle B</th>
                <th>observaciones</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>02522</td>
                <td>calle1</td>
                <td>123</td>
                <td>5</td>
                <td>entre las calles 1 y 2</td>
                <td>sin notas</td>
                <td>
                    <button type="button" class="btn btn-info" title="">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>02533</td>
                <td>calle 2</td>
                <td>13</td>
                <td>9</td>
                <td>entre las calles a y f</td>
                <td>nada</td>
                <td>
                    <button type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>029835</td>
                <td>calle 132</td>
                <td>856</td>
                <td> </td>
                <td>entre las calles tal y tal</td>
                <td>sin notas</td>
                <td>
                    <button type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>