<link rel="stylesheet" href="AngularJS/css/cargaArchivos.css">
<body ng-controller="cargaArchivosController">
    <h2 style="padding-left:15px">Carga Archivo de Precios </h2>
        <div class="container table-responsive" style="padding-top:15px">
            
<br>
            <table class="table table-hover">
                <div class="col-md-8">
                    <form class="form-inline">
                            <div class="form-group">
                                    <label for="inputRefacciones">Seleccione la marca:</label>
                                    <select class="form-control" ng-options="marca as marca.marca for marca in marcas track by marca.idMarca" ng-model="marcaSeleccionada"></select>
                            </div>
                    </form>
                </div>
            </table>    
        </div>
<br>

<div class="container table-responsive" style="padding-top:15px">
        <div style="padding-right:20px">
          <div class="col-md-8">
              
        <input type="file" id="excelfile" class="file-input"/>  
        <br>
        <p>Nombre del Archivo</p>
          {{nombreArchivo}}
        <br>
        <br>
        <input type="button" id="viewfile" class="btn btn-success" value="Vista Previa" ng-click="exportar()" /> 
            <br />  
            <br />  
            <br />  
            <br /> 
        <table id="exceltable" class="table table-hover table-striped" >  
            
        </table> 
           </div>
        </div>
    </div>
<div class="container table-responsive" style="padding-top:15px">
  
<div id="modalElimina" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eliminaCampoModalLabel">
        
         
        
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="eliminaCampoModalLabel">Cancela campo posicon</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" role="alert">
                                <label class="text-">¿Está seguro de cancelar el campo posición?</label>                        
                                <strong>{{nombreCampoCancela}} en la posicion {{posicionCampoCancela}}</strong>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancelaPosicion()">Cancelar campo</button>
                        </div>
                    </div>
                </div>
            </div>
        
        
        
            <!-- FIN MODALES-->
            
            <!-- INICIO PRINCIPAL-->
     
        <div style="padding-right:30px">             
        <table class="table table-hover">
       <!--<div class="col-md-8">
                <form class="form-inline">
                        <div class="form-group">
                                <label for="inputRefacciones">Seleccione la marca:</label>
                                <select class="form-control" ng-options="marca as marca.marca for marca in marcas track by marca.idMarca" ng-model="marcaSeleccionada"></select>
                        </div>
                </form>
         </div>-->
         <div class="col-md-8">
            <form class="form-group">
                    <label for="sel3">Campo: </label>
                    <div class="form-group">
                            <label for="inputRefacciones">Seleccione el campo:</label>
                            <select class="form-control" 
                                    ng-options="campo as campo.campo for campo in campos track by campo.idCampo"
                                    ng-model="campoSeleccionado"></select>
                    </div>

                    <label for="sel3">Campo del Archivo:</label>
                   <!-- <select class="form-control" ></select>-->
                    <div class="form-group">
                            <label for="inputRefacciones">Seleccione el campo del Archivo:</label>
                            <select class="form-control" 
                                    ng-options="field as field.field for field in fields track by field.idField"
                                    ng-model="fieldSeleccionado"></select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" class="btn btn-success pull-right" id="btnEnviar" data-toggle="tooltip" tooltip="Adicionar Campo Posicion" ng-click="agregarDeficionCampo()">
                            <span class="fa fa-file-text-o" aria-hidden="true" data-toggle="modal">&nbsp;Agregar Campo</span>
                        </button>
                    </div>
                </form>
           </div>  
        </table>      
       
       
            <br>
           
            <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="info">
            
                            <th>Campo</th>
                            <th>Posición</th>
                            <th>Acción</th>
                            <th style="width:125px"></th>
                        </tr>
                    </thead>
                    <tr class="list-group-item-custom" ng-repeat="definicion in definiciones">
                            <td>
                                    {{definicion.campo}}
                            </td>
                            <td>
                                    {{definicion.posicion}}
                            </td>       
                            <td>
                                <button type="button" 
                                        data-toggle="tooltip" 
                                        title="Cancelar la posicion del campo" 
                                        ng-click="showCancelaPosicion(definicion,$index)" 
                                        class="btn btn-danger btn-icon">
                                        <i class="fa fa-ban"></i>
                                </button>
                            </td>        
                    </tr>
        
            </table>

            <div style="padding-right:20px" align="right">
                    <button class="btn btn-primary" type="button" class="btn btn-success pull-right" ng-click="modalEnviar()">
                    <span class="fa fa-paper-plane" aria-hidden="true" data-toggle="modal">&nbsp;Agregar Listado</span>
                    </button>
            </div>
            </div>
           
 
    </div>
       

    </div>
</body>
    