<h2 style="padding-left:15px">Carga de Precios</h2>
<div class="container table-responsive" style="padding-top:15px">
        <br>
        <button class="btn btn-primary" type="button" class="btn btn-success pull-right" id="btnEnviar" data-toggle="tooltip" tooltip="Cargar Documento" ng-click="subir()">
                <span class="fa fa-file-text-o" aria-hidden="true" data-toggle="modal">&nbsp;Cargar Documento</span>
        </button>
        
<div class="col-md-8">
<form class="form" name="form" novalidate ng-submit="submit()">
    <div class="form-group">
        <input class="form-control" ng-model="newImage.title" placeholder="Nombre" required>
    </div>
    <div class="form-group">
        <input class="form-control" ng-model="newImage.description" placeholder="Descripción">
    </div>
    <div class="form-inline">
        <input type="file" files-model="newImage.image" required >
    </div>
</form>
<table class="table table-hover">
<div class="col-md-8">
        <form class="form-inline">
            <div class="form-group">
                <label for="sel6">Marca: {{marcaSelec.marca}}</label>
                <select class="form-control" ng-model="marcaSelec" ng-options="m.marca for m in Marca" id="sel6">
                    <option value="" disabled selected>Seleccione la Marca </option>
                </select>
            </div>
        </form>
 </div>
</table>
    <br>
    
    <table class="table table-bordered table-hover">
            <thead>
                <tr class="info">
    
                    <th>Campo</th>
                    <th>Posicion</th>
                </tr>
            </thead>
    </table>
</div>
</div>