<!-- INICIO MODALES-->

<div id="modalElimina" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="eliminaCotizacionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="eliminaCotizacionModalLabel">Eliminar cotizacion</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    <label class="text-">¿Esta seguro de eliminar la cotizacion?</label>
                    <strong>{{nombreCotizacionEliminar}}</strong>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="eliminaCotizacion()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalModifica" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modificaCotizacionModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modificaCotizacionModalLabel">Modifica cotización</h4>
            </div>
            <div class="modal-body">
                <form name="formModifica">
                    <div class="form-group">
                        <label for="txtFolio">Folio</label>
                        <input type="text" ng-model="modificaCotizacion.folio" class="form-control" id="txtFolio" placeholder="Folio" required>
                    </div>
                    <div class="form-group">
                        <label for="txtNombre">Nombre</label>
                        <input type="text" ng-model="modificaCotizacion.folio" class="form-control" id="txtNombre" placeholder="Nombre" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"> Checa
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-disabled='!formModifica.$valid' type="button" class="btn btn-success" data-dismiss="modal" ng-click="modificarCotizacion()">Modificar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalAgrega" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="agregaCotizacionModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="agregaCotizacionModalLabel">Agrega nueva cotización</h4>
            </div>
            <div class="modal-body">
                <form name="formAgrega">
                    <div class="form-group">
                        <label for="txtFolio">Folio</label>
                        <input type="text" ng-model="agregaCotizacion.folio" class="form-control" id="txtFolio" placeholder="Folio" required>
                    </div>
                    <div class="form-group">
                        <label for="txtNombre">Nombre</label>
                        <input type="text" ng-model="agregaCotizacion.folio" class="form-control" id="txtNombre" placeholder="Nombre" required>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"> Checa
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-disabled='!formAgrega.$valid' type="button" class="btn btn-success" data-dismiss="modal" ng-click="agregarCotizacion()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- FIN MODALES-->

<!-- INICIO PRINCIPAL-->

<div class="container">

    <h2>Cotizaciones</h2>

    <div class="row">
            <div class="col-xs-6">
                    <div class="form-group" ng-show="cotizaciones && cotizaciones.length > 0">
                            <div class="input-group">
                              <input autocomplete="off" ng-model="busquedaCotizacion" placeholder="Buscar cotización" type="text" class="form-control">
                              <span class="input-group-btn">
                                  <button ng-click="reiniciaBusqueda()" ng-disabled="!busquedaCotizacion || busquedaCotizacion.length < 1" class="btn btn-danger btn-small" type="button">
                                      <i class="fa fa-angle-double-left"></i>
                                    </button>
                             </span>
                            </div>
                          </div>
                </div>
        <div class="col-xs-6 text-right">
            <button type="button" ng-click="showAgregarCotizacion()" class="btn btn-success" data-toggle="tooltip" title="Agregar una nueva cotización">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <!-- <div class="row">
        <hr>
    </div> -->

    <div ng-show="cotizaciones && cotizaciones.length > 0" class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Cotización
                    </th>
                    <th>
                        Empresa
                    </th>
                    <th>
                        Sucursal
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Total
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cotizacion in cotizaciones | filter : busquedaCotizacion ">
                    <td>
                        {{cotizacion.folio}}
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>    

                    </td>
                    <td align="right">

                    </td>
                    <td>
                            <button type="button" data-toggle="tooltip" title="Elimina una cotización" ng-click="showBorrarCotizacion($index)" class="btn btn-danger btn-icon">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                        <button type="button" data-toggle="tooltip" title="Modifica una cotización" ng-click="showModificaCotizacion($index)" class="btn btn-info btn-icon">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- FIN PRINCIPAL-->