<link rel="stylesheet" href="css/login/style.css">
<div ng-init="init()">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <img class="logo-name imglogo" src="images/logoASE.png" alt="No se encontro la imagen">
                <br>
                <br>
                <br>
            </div>
            <form class="m-t" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Usuario" required="required" ng-model="usuario">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" required="required" ng-model="contrasena">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="iniciaSesion(usuario,contrasena)">Iniciar sesión</button>
            </form>
        </div>
    </div>
</div>
