<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portal Refacciones</title>
    <meta name="description" content="description project">
    <meta name="author" content="name" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--Hojas de estilos-->
    <link href="css/redmond.datepick.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/toastr.css" rel="stylesheet" />
    <link href="css/spinner/spinner.css" rel="stylesheet">
    <link href="css/datepicker3.css" rel="stylesheet">
    <link href="css/nifty.min.css" rel="stylesheet">
    <link href="css/tab.css" rel="stylesheet">
    <link href="css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="css/demo/nifty-demo.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/magic-check.css" rel="stylesheet">
    <link rel="stylesheet" href="css/themify-icons/themify-icons.min.css">
    <link href="plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet">
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <link href="plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!--Morris.js [ OPTIONAL ]-->
    <link href="plugins/morris-js/morris.min.css" rel="stylesheet">
    <!-- c3 Charts -->
    <link href="css/c3/c3.min.css" rel="stylesheet">
    <link href="css/cotizaciones.css" rel="stylesheet">
    <link href="css/Altadirecciones.css" rel="stylesheet">
    <link href="css/cotizacionesGrafica.css" rel="stylesheet">
    <link href="css/cargaArchivos.css" rel="stylesheet">
</head>

<body ng-app="registrationModule" ng-controller="mainController" ng-init="init()">
    <loading></loading>
    <div id="container" class="effect aside-float aside-bright mainnav-sm">
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar" ng-show="mostrarMenu == 1">
            <div id="navbar-container" class="boxed">
                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a style="padding-left:10px;padding-top:10px" href="#" class="navbar-brand" ng-click="salir()">
                        CO
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->
                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">
                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-view-list pad-rgt"> Portal Refacciones</i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links pull-right">
                        <li id="dropdown-user" class="dropdown">
                            <div>
                                <span class="pull-right">
                                    <i class="demo-pli-male ic-user pad-rgt"></i>
                                </span>
                                <div class="username hidden-xs"> {{userData.nombreCompleto}}</div>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End user dropdown-->
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <i class="pci-ver-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">
                                <!-- Dropdown footer -->
                                <div class="pad-all text-right">
                                    <a href="pages-login.html" class="btn btn-primary" ng-click="salir()">
                                        <i class="demo-pli-unlock"></i> Salir
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->
            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->
        <div class="boxed">
            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                <div ng-view></div>
            </div>
            <!--===================================================-->
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container" ng-show="mostrarMenu == 1">
                <div id="mainnav">
                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <!--Profile Widget-->
                                <!--================================-->
                                <div id="mainnav-profile" class="mainnav-profile">
                                    <div class="profile-wrap">
                                        <div class="pad-btm">
                                            <!-- <span class="label label-success pull-right"></span> -->
                                            <img class="img-circle img-sm img-border" src="img/profile-photos/1.png" alt="Profile Picture">
                                        </div>
                                        <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                            <span class="pull-right dropdown-toggle">
                                            </span>
                                            <p class="mnp-name"> {{userData.nombreCompleto}}</p>
                                            <!-- <span class="mnp-desc">{{datosUsuario[0].correo}}</span> -->
                                        </a>
                                    </div>
                                </div>
                                <ul id="mainnav-menu" class="list-group">
                                    <!--Category name-->
                                    <li class="list-header">Navegación</li>
                                    <!--Menu list item-->
                                    <!-- <li ng-show="userData.idRol == 1 || userData.idRol == 2 || userData.idRol == 3 || userData.idRol == 4 || userData.idRol == 5 || userData.idRol == 6 || userData.idRol == 8">
                                        <a href="/Cotizaciones">
                                            <i class="ti-wallet"></i>
                                            <span class="menu-title">
                                                <strong>Cotizaciones</strong>
                                            </span>
                                        </a>
                                    </li> -->
                                    <li ng-show="userData.idRol == 1 || userData.idRol == 2 || userData.idRol == 3 || userData.idRol == 4 || userData.idRol == 5 || userData.idRol == 6 || userData.idRol == 8">
                                        <a href="/CotizacionGrafica">
                                            <i class="ti-wallet"></i>
                                            <span class="menu-title">
                                                <strong>Cotizaciones</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <!-- <li ng-show="userData.idRol == 1 || userData.idRol == 8">
                                        <a href="/AdministracionPrecios">
                                            <i class="ti-bar-chart-alt"></i>
                                            <span class="menu-title">
                                                <strong>Administracion de Precios</strong>
                                            </span>
                                        </a>
                                    </li> -->
                                    <li ng-show="userData.idRol == 1 || userData.idRol == 8">
                                        <a href="/ConfiguracionPrecios">
                                            <i class="ti-money"></i>
                                            <span class="menu-title">
                                                <strong>Listado de Precios</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li ng-show="userData.idRol == 1 || userData.idRol == 8 || userData.idRol == 9">
                                        <a href="/Pedidos">
                                            <i class="ti-truck"></i>
                                            <span class="menu-title">
                                                <strong>Pedidos</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li ng-show="userData.idRol == 1 || userData.idRol == 8">
                                        <a href="/Histórico">
                                            <i class="ti-stats-up"></i>
                                            <span class="menu-title">
                                                <strong>Histórico</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li ng-show="userData.idRol == 1 || userData.idRol == 8 || userData.idRol == 2">
                                        <a href="/Altadirecciones">
                                            <i class="ti-home"></i>
                                            <span class="menu-title">
                                                <strong>Alta Direcciones</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li ng-show="userData.idRol == 1 || userData.idRol == 8">
                                        <a href="#">
                                            <i class="ti-archive"></i>
                                            <span class="menu-title">
                                                <strong>Administracion</strong>
                                            </span>
                                        </a>
                                        <ul>
                                            <li>
                                                <a href="/AdministracionClientes">
                                                    <span class="menu-title">
                                                        <strong>Administracion Clientes</strong>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/AdministracionUsuarios">
                                                    <span class="menu-title">
                                                        <strong>Administracion Usuarios</strong>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/ConfiguradorGrupos">
                                                    <span class="menu-tittle">
                                                        <strong>Configurado Grupos</strong>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/CargaArchivos">
                                                    <span class="menu-tittle">
                                                        <strong>Carga Archivos Precios</strong>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="main">
                                    <div></div>
                                    <input type="hidden" id="lgnUser" value="[[ user.idUsuario ]]">
                                    <!-- [[ user.idUsuario ]] -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->
                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->
        </div>
        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->
    </div>
    <!--Interface de usuario-->
    <!-- Librerias Angular-->
    <script src="js/tab.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/libs/angular/angular.min.js"></script>
    <script src="js/libs/angular/angular-route.min.js"></script>
    <script src="js/libs/angular/angular-local-storage.min.js"></script>
    <script src="js/jquery.plugin.min.js"></script>
    <script src="js/jquery.datepick.js"></script>
    <script src="js/jquery.datepick-es.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuqmQFLspsnle6hdk_Bb3dOmEFvWeM7ck&libraries=adsense&language=es"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/libs/toastr/toastr.min.js"></script>
    <script src="js/demo/ui-panels.js"></script>
    <script src="js/datatables.min.js"></script>
    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="js/nifty.min.js"></script>
    <link href="plugins/pace/pace.min.css" rel="stylesheet">
    <script src="plugins/pace/pace.min.js"></script>
    <script src="js/demo/nifty-demo.min.js"></script>
    <script src="js/vfs_fonts.js"></script>
    <script src="js/ui-grid.js"></script>
    <link rel="stylesheet" href="css/ui-grid.css" type="text/css">
    <!--Responsive table-->
    <script src="plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="js/demo/tables-datatables.js"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <!--Bootstrap Datepicker [ OPTIONAL ]-->
    <script src="plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!--Morris.js [ OPTIONAL ]-->
    <script src="plugins/morris-js/morris.min.js"></script>
    <script src="plugins/morris-js/raphael-js/raphael.min.js"></script>
    <!-- d3 and c3 charts -->
    <script src="js/d3/d3.min.js"></script>
    <script src="js/c3/c3.min.js"></script>
    <!-- ChartJS-->
    <!-- <script src="plugins/chartJs/Chart.min.js"></script> -->
    <script src="plugins/chartJs/Chart.min.js"></script>

    <script src="js/smart-table.min.js"></script>
    
    <!--Funciones Comunes-->
    <script src="confront.js"></script>
    <script src="helpers.js"></script>
    
    <!--Librerias de aplicación angular-->
    <script src="AngularJS/registrationModule.js"></script>
    <!--librerias de componenetes-->
    <script src="AngularJS/alertFactory.js"></script>
    <script src="AngularJS/userFactory.js"></script>
    <!-- <script src="AngularJS/facturas/facturasController.js"></script> -->
    <script src="AngularJS/historico/historicoController.js"></script>
    <script src="AngularJS/altaDirecciones/altaDireccionesController.js"></script>
    <script src="AngularJS/pedidos/pedidosController.js"></script>
    <script src="AngularJS/pedidos/pedidosRepository.js"></script>
    <script src="AngularJS/cotizaciones/cotizacionesController.js"></script>
    <script src="AngularJS/cotizaciones/cotizacionesRepository.js"></script>
    <script src="AngularJS/administracionPrecios/administracionPreciosController.js"></script>
    <script src="AngularJS/administracionPrecios/administracionPreciosRepository.js"></script>
    <script src="AngularJS/configuracionPrecios/configuracionPreciosController.js"></script>
    <script src="AngularJS/configuracionPrecios/configuracionPreciosRepository.js"></script>
    <!--Controllers-->
    <script src="AngularJS/Main/mainController.js"></script>
    <script src="AngularJS/login/loginController.js"></script>
    <script src="AngularJS/login/loginRepository.js"></script>
    <script src="AngularJS/altaDirecciones/altaDireccionesController.js"></script>
    <script src="AngularJS/altaDirecciones/altaDireccionesRepository.js"></script>
    <script src="AngularJS/administracionUsuarios/administracionUsuariosController.js"></script>
    <script src="AngularJS/administracionUsuarios/administracionUsuariosRepository.js"></script>
    <script src="AngularJS/administracionClientes/administracionClientesController.js"></script>
    <script src="AngularJS/administracionClientes/administracionClientesRepository.js"></script>
    <script src="AngularJS/configuradorGrupos/configuradorGruposController.js"></script>
    <script src="AngularJS/configuradorGrupos/configuradorGruposRepository.js"></script>
    <script src="AngularJS/cargaArchivos/cargaArchivosController.js"></script>
    <script src="AngularJS/cargaArchivos/cargaArchivosRepository.js"></script>
    <script src="AngularJS/cotizacionGrafica/cotizacionGraficaController.js"></script>
    <script src="AngularJS/cotizacionGrafica/cotizacionGraficaRepository.js"></script>
    <!--Controllers-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script> 

  </body>

</html>